// Colors
$night-blue:rgb(16, 6, 58);
$light-night-blue:rgba(27, 13, 83, 0.877);
$purple-light:rgba(70, 43, 180, 0.548);
$purple-transparent: rgba(223, 219, 236, 0.664);
$dark-gray: #333333;
$grey: #665;
$off-white: #f7f7f7;
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Fonts
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$sl-size: 4.8rem;
$ssl-size: 6.0rem;
$desktop-breakpoint: 45rem; 